//---------------------------------------------------------------------------
//
// Name:        Visual Divel EncryptadorApp.rc
// Author:      Adrian Arroyo
// Created:     27/12/2011 16:57:05
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
