//---------------------------------------------------------------------------
//
// Name:        Divel WriteApp.rc
// Author:      Arroyo
// Created:     18/01/2012 20:57:01
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
