//---------------------------------------------------------------------------
//
// Name:        Divel Store ManagerApp.rc
// Author:      Adrian Arroyo
// Created:     20/1/2012 18:12:08
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
